@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  color: #ffffff;
}
header{
  display: inline;

}
header img {
  float: left;
  margin-left: 4vh;
  margin-top: 4vh;
  width: 50vh;

}

.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
  text-align: center;
  width: 38%;
 
}
.underline{
  text-decoration-line: underline;
  text-decoration-color: #006241;
  
}

#showcase {
  margin: 0;
  padding: 0;
  background: url('../img/aerial.png') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}
#showcase .container {
  margin-top: 43vh;
}
#showcase h1 {
  font-size: 5rem;
  font-weight: 700;
}
#showcase h2{
  margin-top: 25vh;
  font-size: 2rem;
}
ul{
  list-style: none;
  display: flex;
  margin-top: 10vh;
}
ul li{
  display: inline-block;
  flex:1%;
}
img{
  transition: ease-in-out 500ms;
}
a{
  text-decoration: none;
  color: #444;
}
ul li a:hover img{
 width: 22%;
}
footer{
  background-color: #333;
  margin-top: 5vh;
}
footer .footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}
footer .footer-cols ul {
  list-style: none;
}
footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}
footer .footer-bottom {
  background: #333;
  padding: 1rem;
}
.container {
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}
#video .container{
  margin-left: -40px;
}
.lead {
  font-size: 1.3rem;
}
.text-center {
  text-align: center;
}
.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}
.btn-primary {
  background: var(--primary-color);
}
.btn-primary:hover {
  background: var(--primary-color-hover);
}
.btn-secondary {
  background: var(--secondary-color);
}
.btn-secondary:hover {
  background: var(--secondary-color-hover);
}
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-light {
  color: var(--light-color);
}
.bg-light {
  background: var(--light-color);
  color: #333;
}
.mb {
  margin-bottom: 1rem;
}
.mt {
  margin-top: 1rem;
}
@media screen and (max-width: 1280px)and
(min-width:1000px){
  header img {
    float: left;
    margin-left: 4vh;
    margin-top: 4vh;

  }
  #showcase header h1{
    margin-left: 20vh;
    position: relative;
    font-size: 6vh;
    font-family: 'Work Sans', sans-serif;
    margin-top: 55px;
  }
  #showcase h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  #showcase .container {
    width: 130vh;
    }
}
@media screen and (width: 1024px){
  #showcase .container{
    width: 70vh
  }
}
@media only screen and
  (max-width: 1366px)and
  (min-width:1300px) {
    header img {
      float: left;
      margin-left: 4vh;
      margin-top: 4vh;
    }
  #showcase .container {
    width: 135vh;
    }
  #showcase h1 {
    font-size: 4rem;
    font-weight: 700;
  }
  #showcase header h1 {
    margin-left: 22vh;
    margin-top: 8vh;
    position: relative;
    font-size: 6vh;
    font-family: 'Work Sans', sans-serif;
  }
  }
@media screen and (max-width: 580px) {
  header img{
    width: 250px;
    margin-left: 2vh;
    margin-top: 2vh;
  }
  .hide-on-small {
    display: none;
  }
  #showcase {
    height: 100vh;
  }
  #showcase .container {
    vertical-align: middle;
  }
  #showcase .section-main container h1{
    text-align: center;
  }
  #showcase h1 {
    font-size: 2.5rem;
  }
  #showcase h2{
    margin-top: 20vh;
    font-size: 1.5rem;
  }
  .section h3 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-left: 2vh;
  }
  .underline{
    text-decoration-line: underline;
    text-decoration-color: #006241;
  }
  ul{
  display: grid;
  text-align: center;
  }
  li.call, li.linkedin{
    margin-top: 4vh;
  }
  img{
    transition: ease-in-out 500ms;
  }
  ul li a:hover img{
   width: 36%;
  }
}
@media only screen and
  (width: 360px)and
  (height:640px){
    #showcase h1 {
    font-size: 2rem;
  }
}
@media only screen and
  (width: 375px)and
  (height:667px){
    #showcase h2{
    margin-top: 17vh;
    font-size: 1.5rem;
  }
}

